.fade-enter-active,
.fade-leave-active {
    transition: all 0.3s cubic-bezier(.72, .19, .21, .84);
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.upfade-enter-active,
.upfade-leave-active {
    transform: translateY(0);
    transition: all 0.5s cubic-bezier(.72, .19, .21, .84);
}

.upfade-enter,
.upfade-leave-to {
    transform: translateY(20px);
    opacity: 0;
}

.downfade-enter-active,
.downfade-leave-active {
    transform: translateY(0);
    transition: all 0.5s cubic-bezier(.72, .19, .21, .84);
}

.downfade-enter,
.downfade-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}

.leftfade-enter-active,
.leftfade-leave-active {
    transform: translateX(0);
    transition: all 0.5s cubic-bezier(.72, .19, .21, .84);
}

.leftfade-enter,
.leftfade-leave-to {
    transform: translateX(-20px);
    opacity: 0;
}

.rightfade-enter-active,
.rightfade-leave-active {
    transform: translateX(0);
    transition: all 0.5s cubic-bezier(.72, .19, .21, .84);
}

.leftfade-enter,
.leftfade-leave-to {
    transform: translateX(-20px);
    opacity: 0;
}

.module{
    display: block;
    margin-bottom: 60px;
}

.module img{
    max-width: 100%;
    height: auto;
}



.title-large{
    font-size: 34px;
    font-weight: bold;
}
.title-middle{
    font-size: 24px;
    font-weight: bold;
}



